body{
  box-sizing: border-box;
}

.container-confirmation{
width: 100vw;
min-height: 100vh;
>div{
  width: 1200px;
  background-color: rgb(236, 236, 236);
  margin: 40px auto;
  padding: 40px;
  border-radius: 40px;
}
  h1{
    color: var(--text-color);
    margin-bottom: 2rem;
  }
}



.item-cart > div{
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
  padding: 20px;

  button{
    margin-top: .8rem;
    background-color: #C64B4B;
    border: none;
    padding: .3rem 1rem;
    transition: background-color .2s;
    border-radius: 4px;
    color: #ffffff;
  } 
  button:hover{
    background-color: #9A2A2A;
  } 
  p{
    color: var(--text-color)
  }
  .preço-confirmation{
    font-size: 1.2rem;
    font-weight: 600;
  } 
}
.confirmation-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-top: 2rem;
  gap: 1rem;
  button{
    border: none;
    background-color: #383838;
    color: #ffffff;
    padding: .4rem 2rem ;
    cursor: pointer;
    transition: background-color .3s ;
  }

  button:hover{
    background-color: #9A2A2A;
  }
}


 @media(max-width:1200px){
  .container-confirmation{
  >div{
    width: 80%;
    margin: 40px auto;
  }
  h1{
    font-size: 2rem;
  }
  .item-cart > div{
    flex-wrap: wrap;
  }
} 

@media(max-width:600px){
  .confirmation-btn{
    justify-content: start;
  }
  .container-confirmation{
    >div{
   padding: 10px;
    }
    img{
      width: 80%;
     }
 }

}
 }